@font-face {
  font-family: 'Hellix';
  src: url('../fonts/HellixTRIAL-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Hellix-Medium';
  src: url('../fonts/HellixTRIAL-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Hellix-Bold';
  src: url('../fonts/HellixTRIAL-Bold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Hellix-SemiBold';
  src: url('../fonts/HellixTRIAL-SemiBold.otf') format('opentype');
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;

  // Color
  color: #ddd;

  // Text
  font-family: 'Hellix', serif, sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
